body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F5FC ;
}

header {
    padding: 50px;
    text-align:left;
}

main{
    display: flex;
    justify-content: space-around;
}

.input-container {
    margin-bottom: 20px;
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;

}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    background-color: #F3F5FC ;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    resize: none;
    color: #0A3871 ;
}

.result-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;

}

.mensajeResultado{
    position: relative;
    top: 40%;
    font-family: Inter;
    color: #0A3871;
    font-size: 20px;
    text-align: center;
    
}

.button-container button {
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: #2980b9;
    color: #ffffff;
}


footer {
    text-align: center;
    padding: 10px;
}
